<script>
	function showdata(a, b, c, d, productId) {
		var link = d.toString();
		console.log(a +"|"+ b +"|"+ c +"|"+ d +"|"+ productId);
		// document.getElementById("indata1").innerHTML = a;
		// document.getElementById("indata2").innerHTML = b;
		// document.getElementById("indata3").innerHTML = c;
		document.getElementById("indata4").src = link;
		$("#productId").val(productId);
	}
</script>
<div class="popup" id="popup">
	<div class="popup__content">
		<div class="popup__left">
			<img src="images/1.jpg" id="indata4" alt="Tour photo" class="popup__img">
		</div>
		<div class="popup__right">
			<a href="#section-tours" class="popup__close">&times;</a>
			<h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
			<h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
			<p class="popup__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Sed sed risus pretium quam. Aliquam sem et tortor consequat id. Volutpat odio facilisis mauris sit
			</p>
			<a href="#" class="btn btn--green">Book now</a>
		</div>
	</div>
</div>