<%- include('./includes/head.ejs') %>
    <body>
    <%- include('./includes/header.ejs') %>    
    <section class="section-img">
        <h2 class="heading-secondary u-margin-bottom-small m-t-3rem">Nguyen Anh Nghiet</h2>
        <!-- <h3 class="heading-tertiary u-margin-bottom-small">Haha</h3> -->
        <div class="row clearfix">
            <div class="wrap-des">
                <p>For contact: </p><p>Please send me an email at:<strong> anhnghiet@gmail.com</strong></p>
           <!--</div>
            <div class="wrap-des">
                <p>Na ni</p>
            </div>
            <div class="wrap-des">
                <p>HUHUHU</p>
            </div>--> 
        </div>
    </section>
<%- include("./includes/end.ejs") %>