<%- include('./includes/head.ejs') %>
    <body>
    <%- include('./includes/header.ejs') %>    
    <section class="section-img">
        <div class="wrap-image clearfix">
            <div class="wrap-logo">
            </div>
        </div>
    </section>
    <%- include("./includes/end.ejs") %>